<html>
  <head>
    <link rel="shortcut icon" href="./static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#000000" />
  </head>
<body>
  <div id="app"></div>
  <div id="token" style="visibility:hidden;display:none">{{ token }}</div>
  <script src="./src/index.tsx"></script>
</body>
</html>